@import './block1.css';
@import './blue-line.css';
@import './block2.css';
@import './block3.css';
@import './block4.css';
@import './grey-line.css';

.container-fluid{
    box-sizing: border-box;
    width: 100%;
    clear: both;
}
.container{
    margin: 0 auto;
    width: 960px;
    box-sizing: border-box;
    position: relative; 
}
h3{
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin-top: 80px;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
hr{
    width: 70px;
    height: 4px;
    background-color: #f38181;
    box-shadow: none;
    border: none;
    margin-bottom: 50px;
}
.p-main{
    width: 960px;
    height: 130px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}
.gradient{
    position: relative;
    width: 100%;
    height: 750px;
    background: 
        linear-gradient(0deg, #fbe389 0%, rgba(244, 139, 130, 0.6) 100%), url(../img/Layer\ 15.png);
    background-size: cover;
    background-position: center;
}
.container nav{
    float: right;
    position: absolute;
    top: 20px;
    right: 0;   
     
}
.container nav>ul>li{
    float: left;
    margin-left: 0px;
    list-style: none;
}
.container a{
    font-size: 14px;
    font-family: Montserrat;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    font-weight: 400;
    margin-right: 30px;
}
.container nav .activi{
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
    padding-bottom: 2px;
    width: 50px;
    display: inline-block;
}
.container nav a:hover{
    color: #fce38a;
}
.container h1{
    font-size: 30px;
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    position: absolute;
}
.container .head-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .head-text .head-text1{
    font-size: 72px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Kaushan Script";
}
.container .head-text .head-text2{
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: Montserrat;
    text-align: center;
    margin-top: -10px;
}
header hr{
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    border: none;
    margin-top: -140px;
}
header button{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
    cursor: pointer;
}
header .button{
    text-align: center;
}
header tr, th{
    border-top: 4px solid #ffffff;
    border-collapse: separate;
    width: 960px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
    padding-top: 15px;
    opacity: 0.8;
}
header table{
    border: none;
    margin-top: 30px;
    border-spacing: 20px;
}
header table span{
    font-weight: normal;
    font-size: 18px;
}
header table .activi {
    opacity: 1;
    border-top: 4px solid #ffffff; 
    position: relative;
}

header table .activi .line {
    position: absolute;
    top: -4px;
    width: 70px;
    height: 4px;
    background-color: #f38181;
}